a {
    text-decoration: none;
}

#header {
    height: 5.75rem;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 100%;
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease
}

#header .header-inner {
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%
}

#header #header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

#header.menu-active {
    background: #ffffff
}





.progress-container.active {
    width: 100%;
    height: 0.25rem;
    background: #EFF4F7;
    position: relative
}

.progress-container.active .progress-bar {
    height: 0.25rem;
    background: #E01A33;
    width: 0%
}

@media screen and (max-width:63.938em) {
    #header #header-right {
        display: none
    }

    .progress-container.active {
        top: 0;
        position: fixed
    }
}



@media screen and (max-width:47.938em) {
    #header {
        -webkit-transition: height 0.3s ease;
        -o-transition: height 0.3s ease;
        transition: height 0.3s ease
    }
}

#site-navigation {
    position: relative;
    margin-left: 3.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 5.75rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#site-navigation .main-menu {
    height: 100%;
    width: 100%
}

#site-navigation ul.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#site-navigation ul.menu li {
    line-height: unset
}

#site-navigation ul.menu>li {
    margin: 0 1.1875rem;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    font-family: "IBM Plex Sans", sans-serif;
    display: inline;
    cursor: pointer
}

#site-navigation ul.menu>li a {
    color: #05122C
}

#site-navigation ul.menu>li:hover span:after {
    border-bottom: 2px solid #E01A33;
    content: ""
}

#site-navigation ul.menu>li.mega-menu {
    padding-right: 1.1875rem;
    margin: 0 0.625rem 0 1.1875rem
}

#site-navigation ul.menu>li.mega-menu:after {
    -webkit-transform: rotateZ(135deg);
    -ms-transform: rotate(135deg);
    transform: rotateZ(135deg);
    content: "";
    position: absolute;
    top: 0.5rem;
    width: 0.25rem;
    height: 0.25rem;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    right: 0;
    border-color: #05122C
}

#site-navigation ul.menu>li.mega-menu.active:after {
    -webkit-transform: rotateZ(315deg);
    -ms-transform: rotate(315deg);
    transform: rotateZ(315deg);
    top: 0.71875rem;
    border-color: #05122C
}

#site-navigation ul.menu>li.mega-menu:before {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    -webkit-transition: width 0.5s ease, background-color 0.5s ease;
    -o-transition: width 0.5s ease, background-color 0.5s ease;
    transition: width 0.5s ease, background-color 0.5s ease;
    background: #E01A33;
    position: absolute;
    bottom: -2.25rem
}

#site-navigation ul.menu>li.mega-menu.active:before,
#site-navigation ul.menu>li.mega-menu:hover:before {
    width: 100%
}

#site-navigation ul.menu>li:first-child {
    margin-left: 0
}

#site-navigation ul.menu>li.inactive {
    opacity: 0.5
}

#site-navigation .main-menu__mega {
    position: absolute;
    top: 5.75rem;
    max-width: 900px;
    width: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background: #ffffff;
    visibility: hidden;
    opacity: 0
}

#site-navigation .main-menu__mega.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    visibility: visible
}

#site-navigation .main-menu__mega ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 2.25rem
}

#site-navigation .main-menu__mega-section {
    padding: 2.625rem 2.625rem 2rem;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#site-navigation .main-menu__mega-section:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    padding-bottom: 0;
    width: 33%
}

#site-navigation .main-menu__mega-section:last-child {
    background: #EFF4F7;
    overflow: hidden;
    width: 67%
}

#site-navigation .main-menu__mega-links li {
    margin-bottom: 2.5rem
}

#site-navigation .main-menu__mega-links li .a.no-link {
    cursor: default
}

#site-navigation .main-menu__mega-links li .a,
#site-navigation .main-menu__mega-links li a {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 120%;
    color: #05122C;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out
}

#site-navigation .main-menu__mega-links li .a .menu-title,
#site-navigation .main-menu__mega-links li a .menu-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#site-navigation .main-menu__mega-links li .a .menu-description,
#site-navigation .main-menu__mega-links li a .menu-description {
    text-transform: none;
    margin-top: 0.75rem;
    color: #4F5772;
    font-weight: 400;
    margin-bottom: -1rem
}

#site-navigation .main-menu__mega-links li .a.active,
#site-navigation .main-menu__mega-links li .a:hover,
#site-navigation .main-menu__mega-links li a.active,
#site-navigation .main-menu__mega-links li a:hover {
    color: #E01A33
}

#site-navigation .main-menu__mega-links li .a:after,
#site-navigation .main-menu__mega-links li a:after {
    width: 0;
    height: 0;
    border-top: 0.875rem solid transparent;
    border-left: 0.875rem solid #ffffff;
    border-bottom: 0.875rem solid transparent;
    content: "";
    position: absolute;
    right: -0.875rem;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    margin-top: -1.625em
}

#site-navigation .main-menu__mega-links li .a.active:after,
#site-navigation .main-menu__mega-links li .a.arrow-active:after,
#site-navigation .main-menu__mega-links li a.active:after,
#site-navigation .main-menu__mega-links li a.arrow-active:after {
    opacity: 1
}

#site-navigation .main-menu__mega-links li .icon {
    padding-right: 1rem;
    width: 1.5rem;
    height: 1.5rem
}

#site-navigation .main-menu__mega-sublinks {
    display: none
}

#site-navigation .main-menu__mega-sublinks.active {
    display: block
}

#site-navigation .main-menu__mega-sublinks li {
    margin-bottom: 0.75rem
}

#site-navigation .main-menu__mega-sublinks li a {
    font-size: 1rem;
    line-height: 1.3125rem;
    color: #05122C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

#site-navigation .main-menu__mega-sublinks li a .hover-arrow {
    opacity: 0;
    -webkit-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#site-navigation .main-menu__mega-sublinks li a .hover-arrow .icon {
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    padding-left: 0.3125rem
}

#site-navigation .main-menu__mega-sublinks li a:hover {
    color: #E01A33
}

#site-navigation .main-menu__mega-sublinks li a:hover .hover-arrow {
    opacity: 1
}

#site-navigation .main-menu__mega-sublinks li a:hover .hover-arrow .icon {
    padding-left: 0.5625rem
}

#site-navigation .main-menu__mega-sublinks li.mega-title {
    font-size: 1.125rem;
    color: #000;
    font-weight: 600;
    line-height: 23px
}

#site-navigation .main-menu__mega-sublinks li.indent {
    padding-left: 1.25rem
}

#site-navigation .main-menu__mega-sublinks .mega-title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 600px
}

#site-navigation .main-menu__mega ul.main-menu__mega-sublinks {
    padding-left: 0
}

#site-navigation .main-menu__mega .menu-bg-img {
    background: url(../img/lines-bg-menu.svg);
    height: 100%;
    background-position: top left;
    margin-top: -2.625rem;
    padding-bottom: 4.5rem;
    background-repeat: no-repeat
}

#site-navigation .main-menu__mega .menu-bg-img-right {
    height: 100%;
    background-position: bottom;
    padding-bottom: 0;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    width: 400px;
    height: 400px;
    background-size: contain;
    right: -150px;
    bottom: -150px
}