.wrapper {
    max-width: 950px;
    margin: auto;
    width: 100%;
  }
  .header_content.__has_border {
    border-bottom: 1px solid #dfe3e8;
    padding-bottom: 20px;
  }
/* footer */
.footer-text {
    margin: 0;
    margin-bottom: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    bottom: 10px;
    border: 1px solid #dfe3e8;
    border-radius: 40px;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.footer-text a {
    text-decoration: none;
}